.projects__div {
    text-align: center;
}

.projects__ul{
    list-style-type: none;
    text-align: center;
    padding: 0 0 0 0;
}

h2 {
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
}
li a{
    padding-left: 0em;
    padding-right: 0em;
    text-decoration: underline;
}
a {
    padding: 0em;
}


@media only screen and (max-width: 600px) {

h2 {
    font-family: 'Petit Formal Script', cursive;
}
.projects__div {
    text-align: left;
}

.projects__ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
}

li a{
    padding-left: 1em;
    text-decoration: underline;
    text-align: left;
}

}