.app__h1 {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.5rem;
  border: 2px black solid;
  margin-top: 0;
}

body {
  background-image: url('./watercolor-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nanum Myeongjo', serif;
  height: 100vh;
  color: #084132;
}

@media only screen and (max-width: 600px) {


}